*:focus {
    outline: none;
}

html {
    height: 100%;
    box-sizing: border-box;
    background-color: var(--primaryColor);
    font-family: $_font_family;
    font-size: $_htmlFont_size;
    color: var(--primaryColor);
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0px;
    background-color: white;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

main {
    margin: var(--headerHeight) auto 20px auto;
    background-color: white;
}

h1 {
    @include style("h1", inherit, center);
}

h2 {
    @include style("h2", inherit);
}

h3 {
    padding: 20px 0 0 0;
    @include style("h3", white);
}

a {
    text-decoration: none;
    color: var(--primaryColor);
}

// ==========================================================================
//   0. COMMON CLASS
// ==========================================================================

.button {
    @include button();
}