/**
Description: Product display CSS

Summary:

0. FILTER
    - 0.1. checkmark
    - 0.2. search-container-marque - @depreciated
    - 0.3. scrollbar
    - 0.4. reset button
1. SHOWCASE
    - 1.1. showcase sorting
        - 1.1.1. showcase sorting data
        - 1.1.2. sorting selector
    - 1.2. showcase shelfs - Products display
        - 1.2.1. div__available
    - 1.3. showcase - Bottom page selector
*/

.shop {
    margin-bottom: 40px;
    display: grid;
    max-width: $_mainMaxWidth;
    justify-content: center;
    margin-bottom: 40px;
    display: grid;
    padding: 20px;
    max-width: $_mainMaxWidth;
    justify-content: center;
    grid-template-columns: 220px minmax(0, $_mainMaxWidth);
    column-gap: 20px;
    grid-template-areas: "filters trie-produits ";
}

/* ==========================================================================
 0. FILTER
========================================================================== */
.filters {
    display: flex;
    height: -moz-fit-content;
    height: fit-content;
    background-color: var(--primaryColor);
    grid-area: filters;
    margin-bottom: 40px;
    flex-direction: column;
}

.filter__title {
    height: 50px;
    padding: 15px 0;
    font-size: 17pt;
    font-weight: 700;
    text-align: center;
    color: white;
}

.filter {
    display: flex;
    height: 30px;
    position: relative;
    align-items: center;
    background-color: var(--secondaryColor);
    margin-bottom: 2px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.25);

    &:active {
        border-bottom: none;
    }
}

.filter [class^="icon-"] {
    margin: 0 0 0 auto;
    font-size: 20px;
    color: var(--dark);
}



.filter__subTitle {
    width: 150px;
    padding: 0 0 0 10px;
    font-size: 18px;
    font-weight: 400;
    color: var(--dark);
    white-space: nowrap;
}

.filter__list {
    position: relative;
    background-color: var(--primaryColor);
    font-size: 12px;
    font-weight: 400;
    color: white;
}

.filter__list li {
    display: flex;
    align-items: center;
    line-height: 1.6em;
}

.filter__ul {
    padding: 10px 10px;
}

.filters__reset {
    margin: 0 0 2px 0;
}

// 0.1. checkmark
// ==========================================================================

.container {
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

//Hide the browser's default checkbox
.container input {
    height: 0;
    width: 0;
    margin: 0;
    position: absolute;
    cursor: pointer;
    opacity: 0;
}

//Create a custom checkbox
.checkmark {
    display: flex;
    height: 15px;
    width: 15px;
    position: relative;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 3px;
    background-color: none;
    margin-right: 20px;
}

//Create the checkmark/indicator (hidden when not checked)
.checkmark:after {
    display: none;
    position: absolute;
    content: "";
}

//Show the checkmark when checked
.container input:checked~.checkmark:after {
    display: block;
}

//Style the checkmark/indicator
.container .checkmark:after {
    height: 10px;
    width: 5px;
    top: 1px;
    left: 4px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

// 0.2. search-container-marque - @depreciated
// ==========================================================================

.search-container-marque {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.search-container-marque form {
    height: 22px;
}

.search-container-marque input {
    height: 22px;
    width: 206px;
    box-sizing: border-box;
    border-width: 2px;
    background-color: white;
    cursor: text;
    padding-left: 5px;
    padding-right: 25px;
}

.search-container-marque img {
    height: 16px;
    position: relative;
    top: -18px;
    left: 185px;
}

/* 0.3. scrollbar
========================================================================= */
.scrollbar {
    height: 150px;
    width: 90%;
    margin: 10px 10px 10px 0;
    float: left;
    overflow-y: scroll;
}

.force-overflow {
    min-height: 220px;
}

.filter__list.scrollbar::-webkit-scrollbar-track {
    border: 1px solid #c7c6c6;
    background-color: #c7c6c6;
}

.filter__list.scrollbar::-webkit-scrollbar {
    width: 15px;
    background-color: #c7c6c6;
}

.filter__list.scrollbar::-webkit-scrollbar-thumb {
    border: 1px solid #c7c6c6;
    background-color: var(--primaryColor);
}

// 0.4. reset button
// ==========================================================================

.filters__reset {
    @include button($justify_content: center);
    align-items: center;
    border-radius: 0;
    box-shadow: none;
}

// ==========================================================================
//   1. SHOWCASE SORTING
// ==========================================================================
.showcase {
    display: flex;
    grid-area: trie-produits;
    flex-direction: column;
    max-width: 940px;
}

// 1.1. showcase sorting
// ==========================================================================

.showcase__sorting {
    display: grid;
    height: 50px;
    align-items: center;
    background-color: var(--primaryColor);
    grid-template-columns: auto 1fr;
    padding: 0 $_columnGap;
    column-gap: 20px;
    grid-area: trie;
    order: 1;
}

.showcase__sorting form {
    max-width: $_columnWidth*2 + $_columnGap;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

// 1.1.1. showcase sorting data
// ====================================== 
.showcase__data {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(9, 1fr);
    column-gap: 20px;
    grid-template-areas:
        "trie_value trie_value . trie_nbr trie_nbr trie_nbr trie_page trie_page trie_page";
}

.showcase__p {
    text-align: left;
}

.sortingValue {
    font-size: 18px;
    font-weight: 400;
    color: white;
    grid-area: trie_value;
}

.nbrProducts {
    font-size: 18px;
    font-weight: 400;
    color: white;
    grid-area: trie_nbr;
}

.showcase__pages {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: white;
    grid-area: trie_page;
}

.showcase__page {
    text-decoration: none;
    color: white;
    padding-right: 5px;
}

// 1.1.2. sorting selector
// ====================================== 
.sortingForm__button {
    display: flex;
    height: 36px;
    width: 140px;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--secondaryColor);
    font-size: 18px;
    text-align: center;
    color: var(--dark);
    padding-left: 10px;
    cursor: pointer;
}

.sortingForm__content {
    display: none;
    position: absolute;
    width: fit-content;
    top: 36px;
    background-color: var(--secondaryColor);
    z-index: 1;
}

.sortingForm__ul {
    margin: 0;
    padding: 0;
}

.sortingForm__li {
    padding: 0;
    display: block;
    font-size: 20px;
    text-decoration: none;
    color: white;

    &:hover {
        background-color: hsla(209, 56%, 80%, 1);
    }
}

.sortingForm__label {
    display: flex;
    padding: 0 10px;
    height: 36px;
    width: 140px;
    align-items: center;
    color: var(--dark);
}

.sortingForm__input {
    display: none;
}

/* 1.2. showcase shelfs - Products display
========================================================================= */
.showcase__shelfs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
    grid-area: vitrine;
    flex-wrap: wrap;
    order: 2;
}

.product {
    padding: 0 10px;
    margin-top: 40px;
}

.div__imgProduct {
    position: relative;
    border-bottom: 2px solid var(--secondaryColor);
}

.img__product {
    width: 100%;
}

.discount {
    display: flex;
    height: 60px;
    width: 60px;
    position: absolute;
    top: 0;
    left: calc(100% - 60px);
    align-items: center;
    justify-content: center;
    border-radius: 0 0 5px 5px;
    background-color: var(--secondaryColor);

    p {
        font-size: 22px;
        font-weight: var(--font_bold);
        color: white;
    }
}

.product__data {
    padding: 0 5px;
}

.product__name {
    min-height: 40px;
    margin: 10px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product__brand {
    font-size: 12px;
    font-weight: 400;
    line-height: 10px;
    color: var(--secondaryColor);
}

// 1.2.1. div__available
// ====================================== 

.div__available {
    display: flex;
    align-items: center;
    margin-top: 10px;
    position: relative;
}

.available__chip {
    height: 12px;
    width: 12px;
    border-radius: 2px;

    @mixin content() {
        height: 8px;
        font-size: 10px;
        font-weight: 400;
        padding-left: 20px;
    }

    &.is-green {

        @include after($content: "En stock") {
            @include content();
        }
    }

    &.is-yellow {
        @include after($content: "Stock faible") {
            @include content();
        }
    }

    &.is-red {
        @include after($content: "Rupture de stock") {
            @include content();
        }
    }
}

.product__price {
    padding: 10px 0;
    font-size: 19px;
    font-weight: 700;
    text-align: right;
    color: var(--secondaryColor);
}

/* 1.3. showcase - Bottom page selector
========================================================================= */
.page_bas {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(12, 60px);
    column-gap: 20px;
    grid-area: page_bas;
    grid-template-areas:
        ". . . . . . . .  page_bas_p page_bas_p page_bas_p .";
}

.page_bas p {
    margin: 40px 0;
    font-size: 18px;
    font-weight: 700;
    color: var(--primaryColor);
    grid-area: page_bas_p;
}

.page_bas p a {
    text-decoration: none;
    color: var(--primaryColor);
}