/* ==========================================================================
    Diaporama
 ========================================================================== */
.sectionDiapo {
    display: flex;
    max-width: 1180px;
    margin: 40px auto 0 auto;
}

.diaporama {
    display: grid;
    grid-template-columns: 1fr 98px 1fr;
    grid-template-areas:
        "imgDiapo imgDiapo imgDiapo"
        ". points .";
}

.boites {
    grid-area: imgDiapo;
    overflow: hidden;
}

.boite {
    width: 25%;
}

.slides {
    display: flex;
    width: calc(100%*4);
    height: 100%;
    transition: transform 0.5s ease-in-out;
    animation: diapo 20s infinite;
}

.point1:checked~.boites>.slides {
    transform: translateX(0);
}

.point2:checked~.boites>.slides {
    transform: translateX(-25%);
}

.point3:checked~.boites>.slides {
    transform: translateX(-50%);
}

.point4:checked~.boites>.slides {
    transform: translateX(-75%);
}

.point1:checked~.labels>.a-label,
.point2:checked~.labels>.b-label,
.point3:checked~.labels>.c-label,
.point4:checked~.labels>.d-label {
    background-color: var(--blue);
    border: 2px solid white;
}

.labels {
    grid-area: points;
    display: flex;
    justify-content: space-between;
    top: -40px;
    position: relative;
}

.s-index {
    width: 17px;
    height: 17px;
    border-radius: 15%;
    background-color: white;
    cursor: pointer;
}

.points {
    display: none;
}