@font-face {
  font-family: 'icomoon';
  src: url("../../fonts/icomoon/icomoon.eot?qqudl7");
  src: url("../../fonts/icomoon/icomoon.eot?qqudl7#iefix") format("embedded-opentype"), url("../../fonts/icomoon/icomoon.ttf?qqudl7") format("truetype"), url("../../fonts/icomoon/icomoon.woff?qqudl7") format("woff"), url("../../fonts/icomoon/icomoon.svg?qqudl7#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin: auto;
  color: var(--dark);
  padding: 0 10px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e908";
}

.icon-instagram:before {
  content: "\e90d";
}

.icon-magnifyingGlass:before {
  content: "\e90e";
}

.icon-pinterest:before {
  content: "\e90f";
}

.icon-twitter:before {
  content: "\e910";
}

.icon-bottomArrow:before {
  content: "\e900";
}

.icon-caution:before {
  content: "\e901";
}

.icon-closedBin:before {
  content: "\e902";
}

.icon-cross:before {
  content: "\e903";
}

.icon-envelope:before {
  content: "\e904";
}

.icon-gift:before {
  content: "\e905";
}

.icon-minus:before {
  content: "\e906";
}

.icon-openedBin:before {
  content: "\e907";
}

.icon-plus:before {
  content: "\e909";
}

.icon-shoppingCart:before {
  content: "\e90a";
}

.icon-tick:before {
  content: "\e90b";
}

.icon-truck:before {
  content: "\e90c";
}

:root {
  --primaryColor: rgb(30, 60, 90);
  --secondaryColor: rgb(77, 144, 205);
  --secondaryColor50Percent: rgba(77, 144, 205, 0.5);
  --AccentColor: rgb(244, 151, 35);
  --green: #2EAF16;
  --yellow: #FDC938;
  --red: #F00C00;
  --dark: #05182A;
  --font_regular: 400;
  --font_bold: 700;
  --radius: 7px;
  --header__containerHeight: 95px;
  --headerHeight: var(--header__containerHeight);
}

h1 {
  font-size: 4.8rem;
  font-weight: bold;
}

h2 {
  font-size: 3.2rem;
  font-weight: bold;
}

h3, .button, .filters__reset {
  font-size: 1.8rem;
  font-weight: bold;
}

.button span, .filters__reset span {
  font-size: 2.4rem;
  font-weight: bold;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*:focus {
  outline: none;
}

html {
  height: 100%;
  box-sizing: border-box;
  background-color: var(--primaryColor);
  font-family: "Arimo", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  color: var(--primaryColor);
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0px;
  background-color: white;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

main {
  margin: var(--headerHeight) auto 20px auto;
  background-color: white;
}

h1 {
  text-align: center;
  color: inherit;
}

h2 {
  text-align: left;
  color: inherit;
}

h3 {
  padding: 20px 0 0 0;
  text-align: left;
  color: white;
}

a {
  text-decoration: none;
  color: var(--primaryColor);
}

.button {
  text-align: center;
  color: var(--dark);
  display: flex;
  height: 47px;
  position: relative;
  justify-content: unset;
  border: none;
  border-radius: 7px;
  background: var(--secondaryColor);
  font-family: "Arimo", "Helvetica Neue", Arial, sans-serif;
  cursor: pointer;
  box-shadow: 0px 5px 4px rgba(19, 38, 57, 0.5);
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
}

.button:active {
  box-shadow: none;
  border-bottom: none;
}

.button span {
  text-align: center;
  color: var(--dark);
}

/**
Summary:

0. HEADER CONTAINER
    - 0.1. searchbar 
*/
.header {
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  background-color: var(--primaryColor);
  box-shadow: 0px 2px 2px rgba(19, 38, 57, 0.5);
}

/* ==========================================================================
   0.   HEADER CONTAINER
========================================================================== */
.header__container {
  height: var(--header__containerHeight);
  width: 100%;
  max-width: 1180px;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  column-gap: 20px;
  grid-template-columns: 220px minmax(0, 1180px);
  grid-template-areas: "logo sbar";
  column-gap: 20px;
}

.logo {
  display: block;
  margin: 10px 0px;
  grid-area: logo;
}

.logo__a {
  display: block;
}

.logo__img {
  display: block;
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
}

/* 0.1. searchbar
========================================================================== */
.searchContainer {
  margin: auto 0px;
  grid-area: sbar;
  position: relative;
}

.searchContainer__input {
  height: 47px;
  width: calc(100% - 47px);
  padding: 0 20px 0 20px;
  border: none;
  background-color: white;
  font-size: 24px;
  color: #1e1e1c;
  cursor: text;
  border-radius: 7px 0 0 7px;
}

.searchContainer__input:focus {
  padding: 10px;
  box-sizing: border-box;
  border-left: 10px solid var(--secondaryColor);
}

.searchContainer__delete {
  position: absolute;
  z-index: 1;
  right: 50px;
  height: 100%;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
}

.searchContainer__delete:active {
  color: var(--red);
}

.searchContainer__button {
  float: right;
  height: 47px;
  width: 47px;
  position: relative;
  border: none;
  border-radius: 0 7px 7px 0;
  background: var(--secondaryColor);
  cursor: pointer;
  box-shadow: 0px 5px 4px rgba(19, 38, 57, 0.5);
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
}

.searchContainer__button:active {
  box-shadow: none;
  border-bottom: none;
}

.searchContainer__button::after {
  top: 7px;
  left: 7px;
  height: 32px;
  width: 32px;
  position: absolute;
  background: url("../../images/spritesheet2.svg") -160px -64px transparent;
  background-size: 224px;
  content: "";
}

/**
Description: Product display CSS

Summary:

0. FILTER
    - 0.1. checkmark
    - 0.2. search-container-marque - @depreciated
    - 0.3. scrollbar
    - 0.4. reset button
1. SHOWCASE
    - 1.1. showcase sorting
        - 1.1.1. showcase sorting data
        - 1.1.2. sorting selector
    - 1.2. showcase shelfs - Products display
        - 1.2.1. div__available
    - 1.3. showcase - Bottom page selector
*/
.shop {
  margin-bottom: 40px;
  display: grid;
  max-width: 1180px;
  justify-content: center;
  margin-bottom: 40px;
  display: grid;
  padding: 20px;
  max-width: 1180px;
  justify-content: center;
  grid-template-columns: 220px minmax(0, 1180px);
  column-gap: 20px;
  grid-template-areas: "filters trie-produits ";
}

/* ==========================================================================
 0. FILTER
========================================================================== */
.filters {
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  background-color: var(--primaryColor);
  grid-area: filters;
  margin-bottom: 40px;
  flex-direction: column;
}

.filter__title {
  height: 50px;
  padding: 15px 0;
  font-size: 17pt;
  font-weight: 700;
  text-align: center;
  color: white;
}

.filter {
  display: flex;
  height: 30px;
  position: relative;
  align-items: center;
  background-color: var(--secondaryColor);
  margin-bottom: 2px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
}

.filter:active {
  border-bottom: none;
}

.filter [class^="icon-"] {
  margin: 0 0 0 auto;
  font-size: 20px;
  color: var(--dark);
}

.filter__subTitle {
  width: 150px;
  padding: 0 0 0 10px;
  font-size: 18px;
  font-weight: 400;
  color: var(--dark);
  white-space: nowrap;
}

.filter__list {
  position: relative;
  background-color: var(--primaryColor);
  font-size: 12px;
  font-weight: 400;
  color: white;
}

.filter__list li {
  display: flex;
  align-items: center;
  line-height: 1.6em;
}

.filter__ul {
  padding: 10px 10px;
}

.filters__reset {
  margin: 0 0 2px 0;
}

.container {
  display: flex;
  position: relative;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  height: 0;
  width: 0;
  margin: 0;
  position: absolute;
  cursor: pointer;
  opacity: 0;
}

.checkmark {
  display: flex;
  height: 15px;
  width: 15px;
  position: relative;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 3px;
  background-color: none;
  margin-right: 20px;
}

.checkmark:after {
  display: none;
  position: absolute;
  content: "";
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  height: 10px;
  width: 5px;
  top: 1px;
  left: 4px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.search-container-marque {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.search-container-marque form {
  height: 22px;
}

.search-container-marque input {
  height: 22px;
  width: 206px;
  box-sizing: border-box;
  border-width: 2px;
  background-color: white;
  cursor: text;
  padding-left: 5px;
  padding-right: 25px;
}

.search-container-marque img {
  height: 16px;
  position: relative;
  top: -18px;
  left: 185px;
}

/* 0.3. scrollbar
========================================================================= */
.scrollbar {
  height: 150px;
  width: 90%;
  margin: 10px 10px 10px 0;
  float: left;
  overflow-y: scroll;
}

.force-overflow {
  min-height: 220px;
}

.filter__list.scrollbar::-webkit-scrollbar-track {
  border: 1px solid #c7c6c6;
  background-color: #c7c6c6;
}

.filter__list.scrollbar::-webkit-scrollbar {
  width: 15px;
  background-color: #c7c6c6;
}

.filter__list.scrollbar::-webkit-scrollbar-thumb {
  border: 1px solid #c7c6c6;
  background-color: var(--primaryColor);
}

.filters__reset {
  text-align: center;
  color: var(--dark);
  display: flex;
  height: 47px;
  position: relative;
  justify-content: center;
  border: none;
  border-radius: 7px;
  background: var(--secondaryColor);
  font-family: "Arimo", "Helvetica Neue", Arial, sans-serif;
  cursor: pointer;
  box-shadow: 0px 5px 4px rgba(19, 38, 57, 0.5);
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
  align-items: center;
  border-radius: 0;
  box-shadow: none;
}

.filters__reset:active {
  box-shadow: none;
  border-bottom: none;
}

.filters__reset span {
  text-align: center;
  color: var(--dark);
}

.showcase {
  display: flex;
  grid-area: trie-produits;
  flex-direction: column;
  max-width: 940px;
}

.showcase__sorting {
  display: grid;
  height: 50px;
  align-items: center;
  background-color: var(--primaryColor);
  grid-template-columns: auto 1fr;
  padding: 0 20px;
  column-gap: 20px;
  grid-area: trie;
  order: 1;
}

.showcase__sorting form {
  max-width: 140px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.showcase__data {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(9, 1fr);
  column-gap: 20px;
  grid-template-areas: "trie_value trie_value . trie_nbr trie_nbr trie_nbr trie_page trie_page trie_page";
}

.showcase__p {
  text-align: left;
}

.sortingValue {
  font-size: 18px;
  font-weight: 400;
  color: white;
  grid-area: trie_value;
}

.nbrProducts {
  font-size: 18px;
  font-weight: 400;
  color: white;
  grid-area: trie_nbr;
}

.showcase__pages {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: white;
  grid-area: trie_page;
}

.showcase__page {
  text-decoration: none;
  color: white;
  padding-right: 5px;
}

.sortingForm__button {
  display: flex;
  height: 36px;
  width: 140px;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--secondaryColor);
  font-size: 18px;
  text-align: center;
  color: var(--dark);
  padding-left: 10px;
  cursor: pointer;
}

.sortingForm__content {
  display: none;
  position: absolute;
  width: fit-content;
  top: 36px;
  background-color: var(--secondaryColor);
  z-index: 1;
}

.sortingForm__ul {
  margin: 0;
  padding: 0;
}

.sortingForm__li {
  padding: 0;
  display: block;
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.sortingForm__li:hover {
  background-color: #afcde9;
}

.sortingForm__label {
  display: flex;
  padding: 0 10px;
  height: 36px;
  width: 140px;
  align-items: center;
  color: var(--dark);
}

.sortingForm__input {
  display: none;
}

/* 1.2. showcase shelfs - Products display
========================================================================= */
.showcase__shelfs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  grid-area: vitrine;
  flex-wrap: wrap;
  order: 2;
}

.product {
  padding: 0 10px;
  margin-top: 40px;
}

.div__imgProduct {
  position: relative;
  border-bottom: 2px solid var(--secondaryColor);
}

.img__product {
  width: 100%;
}

.discount {
  display: flex;
  height: 60px;
  width: 60px;
  position: absolute;
  top: 0;
  left: calc(100% - 60px);
  align-items: center;
  justify-content: center;
  border-radius: 0 0 5px 5px;
  background-color: var(--secondaryColor);
}

.discount p {
  font-size: 22px;
  font-weight: var(--font_bold);
  color: white;
}

.product__data {
  padding: 0 5px;
}

.product__name {
  min-height: 40px;
  margin: 10px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product__brand {
  font-size: 12px;
  font-weight: 400;
  line-height: 10px;
  color: var(--secondaryColor);
}

.div__available {
  display: flex;
  align-items: center;
  margin-top: 10px;
  position: relative;
}

.available__chip {
  height: 12px;
  width: 12px;
  border-radius: 2px;
}

.available__chip.is-green::before {
  height: 8px;
  font-size: 10px;
  font-weight: 400;
  padding-left: 20px;
  position: absolute;
  content: "En stock";
}

.available__chip.is-yellow::before {
  height: 8px;
  font-size: 10px;
  font-weight: 400;
  padding-left: 20px;
  position: absolute;
  content: "Stock faible";
}

.available__chip.is-red::before {
  height: 8px;
  font-size: 10px;
  font-weight: 400;
  padding-left: 20px;
  position: absolute;
  content: "Rupture de stock";
}

.product__price {
  padding: 10px 0;
  font-size: 19px;
  font-weight: 700;
  text-align: right;
  color: var(--secondaryColor);
}

/* 1.3. showcase - Bottom page selector
========================================================================= */
.page_bas {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(12, 60px);
  column-gap: 20px;
  grid-area: page_bas;
  grid-template-areas: ". . . . . . . .  page_bas_p page_bas_p page_bas_p .";
}

.page_bas p {
  margin: 40px 0;
  font-size: 18px;
  font-weight: 700;
  color: var(--primaryColor);
  grid-area: page_bas_p;
}

.page_bas p a {
  text-decoration: none;
  color: var(--primaryColor);
}

/* Aggressive reset to remove the initial spinner */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"]:hover::-webkit-inner-spin-button,
input[type="number"]:hover::-webkit-outer-spin-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* The component (also includes vertical) */
.number-spinner-horizontal {
  grid-area: quantityForm;
}

.spinner {
  display: flex;
  margin: 20px 0 0 0;
  height: 2rem;
  width: 80%;
}

.spinner__button {
  display: grid;
  place-items: center;
  border: none;
  width: 25%;
  border-color: var(--secondaryColor);
  background-color: var(--secondaryColor);
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: background 0.4s ease;
}

.spinner__button:active {
  border-color: var(--secondaryColor);
}

.spinner__button--left {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
}

.spinner__button--right {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
}

.spinner__input {
  display: block;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-radius: none;
  width: 50%;
  font-size: 1em;
  line-height: 1.5;
  text-align: center;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

@media (max-width: 1180px) {
  .header__features {
    display: none;
  }
  .main {
    margin-top: var(--header__containerHeight);
  }
}

@media (max-width: 992px) {
  .showcase__shelfs {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  main {
    margin: calc(var(--headerHeight)*2) 0 20px 0;
  }
  .header__container {
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas: ". . logo logo logo . ." "sbar sbar sbar sbar sbar sbar sbar";
    padding: 0 18px;
    height: -webkit-fit-content;
  }
  .searchContainer {
    margin: 0 0 20px 0;
  }
  .shop {
    display: flex;
    flex-direction: column;
  }
  .filter {
    height: 47px;
  }
  .filter__subTitle {
    font-size: 1.2em;
  }
  .filter__list .container {
    font-size: 1.2em;
  }
  .filter__ul li {
    margin: 10px 0;
  }
}

@media (max-width: 576px) {
  .showcase__shelfs {
    grid-template-columns: repeat(1, 1fr);
  }
  .showcase__sorting {
    grid-template-columns: 1fr;
    height: fit-content;
    justify-content: center;
    row-gap: 10px;
    padding: 10px 20px;
  }
  .showcase__sorting form {
    max-width: unset;
  }
  .product {
    margin-left: 5%;
    margin-right: 5%;
  }
  .product * {
    font-size: 1.05em;
  }
  .div__available {
    margin-top: 20px;
  }
  .available__chip.is-green::before,
  .available__chip.is-red::before,
  .available__chip.is-yellow::before {
    font-size: 0.8em;
    top: -2px;
  }
}

.is-displayNone {
  display: none;
}

.is-displayBlock {
  display: block;
}

.is-green {
  background-color: var(--green);
}

.is-yellow {
  background-color: var(--yellow);
}

.is-red {
  background-color: var(--red);
}

.is-blue {
  background: var(--secondaryColor);
}

.is-colorOrange {
  color: var(--orange);
}

.is-colorBlue {
  color: var(--secondaryColor);
}

.is-colorGreen {
  color: var(--green);
}

.is-colorYellow {
  color: var(--yellow);
}

.is-colorWhite {
  color: white;
}

.is-header2 {
  background-color: var(--secondaryColor);
  box-shadow: 0px 2px 2px rgba(19, 38, 57, 0.5);
}

.is-borderTop {
  border-top: 2px solid var(--secondaryColor);
}

.is-hiddenText {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.is-hideFilter::after {
  background: url("../../images/spritesheet2.svg") -60px -40px;
  background-size: 140px;
}

.is-displayFlex {
  display: flex;
}

.is-displayFlexColumn {
  display: flex;
}
