/**
Summary:

0. HEADER CONTAINER
    - 0.1. searchbar 
*/

.header {
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    background-color: var(--primaryColor);
    box-shadow: 0px 2px 2px rgba(19, 38, 57, 0.5);
}

/* ==========================================================================
   0.   HEADER CONTAINER
========================================================================== */
.header__container {
    height: var(--header__containerHeight);
    width: 100%;
    max-width: $_mainMaxWidth;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    @include grid;
    grid-template-columns: 220px minmax(0, 1180px);
    grid-template-areas: "logo sbar";
    column-gap: 20px;
}

.logo {
    display: block;
    margin: 10px 0px;
    grid-area: logo;
}

.logo__a {
    display: block;
}

.logo__img {
    display: block;
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
}

/* 0.1. searchbar
========================================================================== */
.searchContainer {
    margin: auto 0px;
    grid-area: sbar;
    position: relative;
}

.searchContainer__input {
    height: $_buttonHeight;
    width: calc(100% - #{$_buttonHeight});
    @include input($font_size: 24px, $padding: 20px);
    border-radius: $_border_radius 0 0 $_border_radius;
}

.searchContainer__delete {
    position: absolute;
    z-index: 1;
    right: 50px;
    height: 100%;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
}

.searchContainer__delete:active {
    color: var(--red);
}

.searchContainer__button {
    float: right;
    @include squareButton;

    &::after {
        top: 7px;
        left: 7px;
        @include icon($icon_width: 32px, $x: 5, $y: 2);
    }
}