// ==========================================================================
//   0. BUTTON
// ==========================================================================
@mixin button_style {
    height: $button_height;
    position: relative;
    border-radius: $border_radius;
    background: var(--blue);
    font-size: 18px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    box-shadow: $button_box_shadow;
    border-bottom: $button_border_bottom;
}

@mixin button_submit {
    display: flex;
    height: $button_height;
    position: relative;
    border-radius: $border_radius;
    background: var(--blue);
    cursor: pointer;
    box-shadow: $button_box_shadow;
    border-bottom: $button_border_bottom;
}

@mixin squareButton_submit {
    height: $button_height;
    width: $button_height;
    position: relative;
    border: none;
    border-radius: $border_radius_right;
    background: var(--blue);
    cursor: pointer;
    box-shadow: $button_box_shadow;
    border-bottom: $button_border_bottom;
}

@mixin button_link {
    display: flex;
    height: 47px;
    position: relative;
    border-radius: $border_radius;
    background: var(--blue);
    cursor: pointer;
    box-shadow: $button_box_shadow;
    border-bottom: $button_border_bottom;
}

// ==========================================================================
//   1. SEARCHBAR
// ==========================================================================

@mixin searchbar {
    padding: 0 20px;
    border: none;
    background-color: white;
    font-size: 24px;
    color: #1e1e1c;
    cursor: text;
}

@mixin searchbar_small {
    padding: 0 20px;
    border: none;
    background-color: white;
    font-size: 14px;
    color: #1e1e1c;
    cursor: text;
}

// ==========================================================================
//   2. GRID
// ==========================================================================

@mixin grid_15 {
    display: grid;
    grid-template-columns: repeat(15, 60px);
    grid-column-gap: 20px;
}

@mixin grid_5 {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    grid-column-gap: 20px;
}

@mixin grid_4 {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-column-gap: 20px;
}

// ==========================================================================
//   3. ICONES
// ==========================================================================

@mixin icon_small {
    height: $icon_width;
    width: $icon_width;
    position: absolute;
    background-size: $icon_width*7;
    content: "";
}

@mixin icon_big {
    $icon_width: 32px;
    height: $icon_width;
    width: $icon_width;
    position: absolute;
    background-size: $icon_width*7;
    content: "";
}