// ==========================================================================
//   0. BUTTON
// ==========================================================================
@mixin button($height: 47px, $font_size: 18px) {
    display: flex;
    height: $height;
    position: relative;
    border-radius: $__border_radius;
    background: var(--blue);
    border: none;
    font-size: $font_size;
    font-weight: 700;
    color: white;
    cursor: pointer;
    box-shadow: $__button_box_shadow;
    border-bottom: $__button_border_bottom;
}

@mixin button_active {
    box-shadow: none;
    border-bottom: none;
}

@mixin squareButton($button_height: 47px) {
    height: $button_height;
    width: $button_height;
    position: relative;
    border: none;
    border-radius: 0 $__border_radius $__border_radius 0;
    background: var(--blue);
    cursor: pointer;
    box-shadow: $__button_box_shadow;
    border-bottom: $__button_border_bottom;
}

// ==========================================================================
//   1. SEARCHBAR
// ==========================================================================

@mixin searchbar($font_size: 24px) {
    padding: 0 20px;
    border: none;
    background-color: white;
    font-size: $font_size;
    color: #1e1e1c;
    cursor: text;
}

// ==========================================================================
//   2. GRID
// ==========================================================================

@mixin grid($nbr_column: 15) {
    display: grid;
    grid-template-columns: repeat($nbr_column, 60px);
    grid-column-gap: 20px;
}

// ==========================================================================
//   3. ICONES
// ==========================================================================

@mixin icon($icon_width: 20px, $x: 0px, $y: 0px, $color: transparent) {
    height: $icon_width;
    width: $icon_width;
    position: absolute;
    background: url('../../images/spritesheet2.svg') -1*$x*$icon_width -1*$y*$icon_width $color;
    background-size: $icon_width*7;
    content: "";
}