$border_radius: 7px;
$border_radius-left: $border_radius 0 0 $border_radius;
$border_radius-right: 0 $border_radius $border_radius 0;
$button_height: 47px;
$button_box_shadow: 0px 5px 4px rgba(19, 38, 57, 0.5);
$button_border_bottom: 2px solid rgba(0, 0, 0, 0.25);