// ==========================================================================
//   0. FONT
// ==========================================================================
$_htmlFont_size: 16px;
$_font_family: 'Arimo',
"Helvetica Neue",
Arial,
sans-serif;

// ==========================================================================
//   0. BASE
// ==========================================================================
$_mainMaxWidth: 1180px;

// ==========================================================================
//   0. BUTTON
// ==========================================================================
$_button_box_shadow: 0px 5px 4px rgba(19, 38, 57, 0.5);
$_button_border_bottom: 2px solid rgba(0, 0, 0, 0.25);
$_buttonHeight: 47px;
// ==========================================================================
//   0. IMG
// ==========================================================================

$_footerImgUnit: 60px;
// 0.1. Spritesheet - social-media & payment
// ==========================================================================
//$_spX = 100% / (nbrIconesEnLongeur - 1) = valeur unité de x pour "background-size"
$_spX: 33.33%;
//$_spY = 100% / (nbrIconesEnHauteur - 1) = valeur unité de y pour "background-size"
$_spY: 16.66%;

// ==========================================================================
//   0. BOX-MODEL
// ==========================================================================
$_border_radius: 7px;

// ==========================================================================
//   0. GRID
// ==========================================================================
$_columnGap: 20px;
$_columnWidth: 60px;

// ==========================================================================
//   0. ROOT
// ==========================================================================
:root {
    //couleur 
    --primaryColor: rgb(30, 60, 90);
    --secondaryColor: rgb(77, 144, 205);
    --secondaryColor50Percent: rgba(77, 144, 205, 0.5);
    --AccentColor: rgb(244, 151, 35);
    --green: #2EAF16;
    --yellow: #FDC938;
    --red: #F00C00;
    --dark: #05182A;
    //fonts 
    --font_regular: 400;
    --font_bold: 700;
    //autres 
    --radius: 7px;
    --header__containerHeight: 95px;
    --headerHeight: var(--header__containerHeight);
}